


.ion-title {height:56px; 
    background-color: #0188ca !important;
    background:linear-gradient(#0188ca , #016697) !important;
   }
 
.ion-navbar {padding:0;margin:0;border:0;}

.title-image {height:41px;padding-top:5px;}


.connection {border:1px solid #ccc;padding:5px;margin:0px 0px 1px 0px;}

.toolbar-title { 
	text-align: center;	
}

.wifi {color: #488aff;font-size:40px;}
.wifiblack {color: #000;}

.dangertext {color:red}

.col-24 { padding: 15px 5px 15px 5px;margin:3px;border:0 !important;width:31%; float:left;height:50px; }

.even-width-row {
	display: table;
    width: 100%;
    table-layout: fixed;
}
.even-width-col {display: table-cell; text-align: center;}